.ui-progressbar {
  position: relative;
  height:18px;
  width:320px;
  margin-bottom: 10px;
}

.ui-widget {
  font-size: 12px;
}

.delete-task-dialog {
  font-size: 12px;
}

.progress-label {
  position: absolute;
  font-size: 10px;
  left: 20%;
  font-weight: normal;
  text-shadow: 1px 1px 0 #fff;
}

.cancel-task{
  font-size: 10px;
  margin-left: 3px;
  vertical-align: text-bottom;
  margin-bottom: 10px;
  }

